body {
  width: 1200px;
  margin: 100px auto;
  background-color: #e3e7eb;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  padding: 50px;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.inside-card-1 {
  width: 50%;
  margin: 0 auto;
}

button {
  border: none;
  width: 130px;
  height: 40px;
  background-color: #111727;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #2a2f3d;
  color: #fff;
}

a {
  text-decoration: none;
  color: #111727;
}

a:hover {
  color: #2a2f3d;
}

.cv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-sosmed {
  text-align: center;
  margin-bottom: 40px;
}

.fa-brands {
  font-size: 30px;
  padding: 20px;
}

.card2 {
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

img {
  width: 100%;
}

.ttl {
  font-size: 20px;
}

.card-desc {
  font-size: 14px;
}
